<div class="header_wrapper">
    <div class="title_info_wrapper">
        <h1>{{passed_data_titles.header_name}}</h1>
        <div class="subtitle_info_wrapper">
            <h2 class="subtitle_info">{{passed_data_titles.game_name}}</h2>
            <span *ngIf="selection_state.length > 0" class="seperator">|</span>
            <h2 class="subtitle_info">{{selection_state}}</h2>
        </div>
    </div>
    <div [ngClass]="{'closed': !display_element}" (click)="toggle_select_element()" class="toggle_wrapper">
        <div class="toggle_container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
        </div>
    </div>
</div>